/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_self
*/
#site-nav {
    background-color: #000080;
}

#site-nav a , .navbar-inverse .navbar-text{
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #000080;
}

th
{
    cursor: pointer;
}

.centered {
    text-align: center;
}
#logOutbutton {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
* {
    font-family: 'Source Sans Pro', sans-serif;
}
